---

---

<div class="bg-gray-300 flex items-center">
    <div class="grid" id="single-name-input">
        <label for="potion-name" class="text-center"> Potion name</label>
        <input
            type="text"
            id="potion-name"
            class="border-2 border-solid border-gray-400"
        />
    </div>
    <div id="multiple-name-input" class="hidden">
        <div class="grid">
            <label for="low-quality-potion-name" class="text-center">
                Low quality</label
            >
            <input
                type="text"
                id="low-quality-potion-name"
                class="border-2 border-solid border-gray-400 w-32"
            />
        </div>
        <div class="grid">
            <label for="medium-quality-potion-name" class="text-center">
                Medium quality</label
            >
            <input
                type="text"
                id="medium-quality-potion-name"
                class="border-2 border-solid border-gray-400 w-32"
            />
        </div>
        <div class="grid">
            <label for="high-quality-potion-name" class="text-center">
                High quality</label
            >
            <input
                type="text"
                id="high-quality-potion-name"
                class="border-2 border-solid border-gray-400 w-32"
            />
        </div>
    </div>

    <button id="switch-quality-names" class="bg-red-500 size-8 cursor-pointer">
    </button>
</div>
