---
import BreweryLayout from "@/layouts/BreweryLayout.astro";
---

<BreweryLayout>
    <div class="w-full flex flex-col">
        <div class="flex flex-col justify-center items-center sm:min-h-[36rem] mt-6 mx-5">
            Plugin for an alternate brewing process, including alcoholic Potions.
        </div>
    </div>
</BreweryLayout>
