---
import BreweryLayout from "@/layouts/BreweryLayout.astro";
import BreweryX from "@/components/BreweryX.astro";
import { Image } from "astro:assets";
import Features from "@/components/home/Features.astro";
import Team from "@/components/home/Team.astro";
import meta from "@/lib/meta";

import banner from "@/assets/img/banner-fade.png";

const badges = [
    {
        href: meta.download.modrinrth,
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/available/modrinth_vector.svg",
        alt: "Download from Modrinth",
    },
    {
        href: "/docs/welcome",
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/documentation/generic_vector.svg",
        alt: "Read the Documentation",
    },
    {
        href: meta.media.discord,
        img: "https://cdn.jsdelivr.net/npm/@intergrav/devins-badges@3/assets/cozy/social/discord-plural_vector.svg",
        alt: "Chat with us on Discord",
    },
];
---

<BreweryLayout disableNavBarOffset>
    <div class="flex flex-col">
        <div class="relative flex h-[calc(90dvh-var(--navbar-height))] w-full flex-col">
            <Image class="absolute -z-40 h-full w-full object-cover object-bottom" src={banner} alt="Banner" />
            <div class="flex h-full w-full items-center justify-center">
                <div class="m-6 flex w-full max-w-[70rem] flex-col items-center gap-3.5 sm:m-8">
                    <span class="text-6xl font-black drop-shadow-lg sm:text-8xl">
                        <BreweryX />
                    </span>
                    <span class="text-zinc-100 drop-shadow-xl"
                        >Plugin for an alternate brewing process, including alcoholic Potions.</span
                    >
                    <div class="badge-container flex flex-col items-center gap-0 sm:flex-row sm:gap-2">
                        {
                            badges.map((badge) => (
                                <a href={badge.href}>
                                    <img alt={badge.alt} height="56" src={badge.img} />
                                </a>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="relative my-16 flex w-full flex-col items-center justify-center gap-7">
            <div class="pointer-events-none absolute inset-0 -z-10">
                <div class="absolute top-0 right-0 h-[500px] w-[500px] bg-fuchsia-500/8 blur-[100px]"></div>
                <div class="absolute bottom-0 left-[10%] h-[500px] w-[500px] bg-red-500/10 blur-[100px]"></div>
            </div>
            <span class="block text-4xl font-bold">Features</span>
            <div class="mx-6">
                <Features />
            </div>
        </div>
        <div class="relative my-16 flex w-full justify-center">
            <div class="pointer-events-none absolute inset-0 -z-10">
                <div class="absolute -top-[10rem] right-0 h-[700px] w-[700px] bg-green-500/8 blur-[100px]"></div>
                <div class="absolute top-[20%] left-[6%] h-[400px] w-[400px] bg-indigo-500/8 blur-[100px]"></div>
                <div class="absolute bottom-0 left-[20%] h-[500px] w-[700px] bg-cyan-500/8 blur-[100px]"></div>
            </div>
            <div class="flex flex-col items-center gap-6">
                <span class="text-4xl font-bold">Team</span>
                <div class="max-w-section mx-8">
                    <Team />
                </div>
            </div>
        </div>
    </div>
</BreweryLayout>

<style>
    .badge-container a {
        text-decoration: none;
        filter: drop-shadow(0 0 0.3rem rgba(0, 0, 0, 0.25));
    }
</style>
