---
import BreweryLayout from "@/layouts/BreweryLayout.astro";
import PotionNameSection from "../components/potion_editor/PotionNameSection.astro";

let woodTypes = {
    any: { name: "Any", value: 0 },
    birch: { name: "Birch", value: 1 },
    oak: { name: "Oak", value: 2 },
    jungle: { name: "Jungle", value: 3 },
    spruce: { name: "Spruce", value: 4 },
    acacia: { name: "Acacia", value: 5 },
    dark_oak: { name: "Dark Oak", value: 6 },
    crimson: { name: "Crimson", value: 7 },
    warped: { name: "Warped", value: 8 },
    mangrove: { name: "Mangrove", value: 9 },
    cherry: { name: "Cherry", value: 10 },
    bamboo: { name: "Bamboo", value: 11 },
    cut_copper: { name: "Cut Copper", value: 12 },
};
---

<BreweryLayout>
    <div class="flex w-full justify-center">
        <div id="potion-generator" class="max-w-header w-full">
            <div class="flex w-full items-center justify-between">
                <img src="/water_bottle.webp" width="80px" class="inline-block align-middle" />
                <div class="flex items-center bg-gray-800">
                    <div class="grid" id="single-name-input">
                        <label for="potion-name" class="text-center"> Potion name</label>
                        <input type="text" id="potion-name" class="border-2 border-solid border-gray-400" />
                    </div>
                    <div id="multiple-name-input" class="hidden">
                        <div class="grid">
                            <label for="low-quality-potion-name" class="text-center"> Low quality</label>
                            <input
                                type="text"
                                id="low-quality-potion-name"
                                class="w-32 border-2 border-solid border-gray-400"
                            />
                        </div>
                        <div class="grid">
                            <label for="medium-quality-potion-name" class="text-center"> Medium quality</label>
                            <input
                                type="text"
                                id="medium-quality-potion-name"
                                class="w-32 border-2 border-solid border-gray-400"
                            />
                        </div>
                        <div class="grid">
                            <label for="high-quality-potion-name" class="text-center"> High quality</label>
                            <input
                                type="text"
                                id="high-quality-potion-name"
                                class="w-32 border-2 border-solid border-gray-400"
                            />
                        </div>
                    </div>

                    <button id="switch-quality-names" class="size-8 cursor-pointer bg-red-500"> </button>
                </div>
            </div>
            <div class="w-full">
                <div class="grid w-full justify-center" id="ingredients-section">
                    <script src="../script/ingredients_section.ts"></script>
                    <button id="add-ingredient" class="w-32 cursor-pointer bg-red-500"> + Ingredient</button>
                </div>
            </div>
            <div class="flex w-full justify-center">
                <div class="grid">
                    <label for="cooking-time" class="text-center">Cooking time</label>
                    <input type="number" id="brew-time" class="bg-gray-800" value="5" />
                </div>
                <div class="grid">
                    <label for="aging-time" class="text-center">Aging time</label>
                    <input type="number" id="aging-time" class="bg-gray-800" />
                </div>
                <select>
                    {
                        Object.entries(woodTypes).map(([key, value], ignored) => (
                            <option value={key}>{value.name}</option>
                        ))
                    }
                </select>
            </div>
            <div class="flex w-full justify-center">
                <div class="grid">
                    <label for="distill-runs" class="text-center">Distill runs</label>
                    <input type="number" id="distill-runs" class="bg-gray-800" />
                </div>
                <div class="grid">
                    <label for="distill-time" class="text-center">Distill time</label>
                    <input type="number" id="distill-time" class="bg-gray-800" value="10" />
                </div>
            </div>
            <div id="potion-generator-output">hello</div>
        </div>
        <script src="../script/potion_generator.ts"></script>
    </div>
</BreweryLayout>
