---
import { Image } from "astro:assets";

import cauldronBoiling from "@/assets/video/cauldron-boiling.webm";
import distilling from "@/assets/video/distilling.webm";
import drunkness from "@/assets/img/drunkness.png";
import aging from "@/assets/video/aging.webm";
---

<div class="max-w-wide grid w-full gap-6 lg:grid-cols-5">
    <div class="feature lg:col-span-3">
        <div class="feature-background">
            <video muted autoplay loop>
                <source src={cauldronBoiling} />
            </video>
            <span class="feature-background-shadow"></span>
        </div>
        <div class="feature-content">
            <div class="m-6">
                <span class="font-bold">Brewing</span>
                <span class="font-thin text-zinc-300"
                    >Let your player brew any drink you can imagine and add very cool effects to it in most unique way
                    possible!</span
                >
            </div>
        </div>
    </div>
    <div class="feature lg:col-span-2">
        <div class="feature-background">
            <video muted autoplay loop>
                <source src={distilling} />
            </video>
            <span class="feature-background-shadow"></span>
        </div>
        <div class="feature-content">
            <div class="m-6">
                <span class="font-bold">Distilling</span>
                <span class="font-thin text-zinc-300"
                    >Refine your brews with glowstone filters, turning simple brews into strong drinks!</span
                >
            </div>
        </div>
    </div>
    <div class="feature lg:col-span-2">
        <div class="feature-background">
            <Image src={drunkness} alt="Drunkness" />
            <span class="feature-background-shadow"></span>
        </div>
        <div class="feature-content">
            <div class="m-6">
                <span class="font-bold">Drunkness...</span>
                <span class="font-thin text-zinc-300"
                    >Watch your limits, or you'll be wobbling through the streets!</span
                >
            </div>
        </div>
    </div>
    <div class="feature lg:col-span-3">
        <div class="feature-background">
            <video muted autoplay loop>
                <source src={aging} />
            </video>
            <span class="feature-background-shadow"></span>
        </div>
        <div class="feature-content">
            <div class="m-6">
                <span class="font-bold">Aging</span>
                <span class="font-thin text-zinc-300"
                    >Some drinks require patience. Let them mature in barrels for a richer flavor!</span
                >
            </div>
        </div>
    </div>
</div>

<style>
    .feature {
        position: relative;
        overflow: hidden;
        height: 28rem;
        border-radius: 2rem;

        box-shadow: 0px 0px 12px 0px rgba(252, 168, 80, 0.04);
    }

    .feature-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    .feature-background > video,
    .feature-background > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .feature-background-shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;

        box-shadow: inset 0px 0px 80px 35px rgba(0, 0, 0, 1);
    }

    .feature-content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: end;
        font-size: 1.15rem;
    }
</style>
