<footer class="my-4 text-zinc-400">
    <div class="flex flex-col items-center gap-1 text-center">
        <p class="text-zinc-200">
            Documentation by the team & <a
                href="https://github.com/BreweryTeam/BreweryX-Documentation/graphs/contributors"
                class="text-pink-400 transition-colors duration-200 hover:text-pink-300"
                target="_blank"
            >
                contributors
            </a>
            ❤️
        </p>
        <p class="text-sm">
            © {new Date().getFullYear()}
            <a
                href="https://github.com/BreweryTeam"
                class="text-pink-400 transition-colors duration-200 hover:text-pink-300"
                target="_blank"
            >
                The Brewery Team
            </a>. All rights reserved.
        </p>
    </div>
</footer>
