---
import { Image } from "astro:assets";

import breweryxLogo from "@/assets/img/favicon.png";

const links = {
    left: [
        {
            label: "Documentation",
            href: "/docs/welcome",
        },
    ],
    right: [],
};
---

<div
    class="fixed top-0 right-0 left-0 z-40 flex h-[var(--navbar-height)] items-stretch border-b border-b-zinc-900 bg-zinc-950/80 backdrop-blur-md"
>
    <div class="mr-6 ml-3 flex w-full items-center justify-between">
        <div class="flex items-center gap-2">
            <a class="flex items-center no-underline" href="/">
                <Image class="mx-2 mr-4 h-12 w-auto" alt="BreweryX Logo" src={breweryxLogo} />
                <span class="text-2xl font-bold text-white">BreweryX</span>
            </a>
        </div>
        <div class="flex gap-2">
            {
                links.left.map((link) => (
                    <a class="text-white no-underline" href={link.href}>
                        {link.label}
                    </a>
                ))
            }
        </div>
    </div>
</div>
