---
import { Image } from "astro:assets";
import breweryxLogo from "@/assets/img/favicon.png";

const links = [
    { label: "Docs", href: "/docs/welcome" },
    { label: "Source", href: "https://github.com/BreweryTeam/BreweryX" },
];
---

<div
    class="fixed top-0 right-0 left-0 z-40 flex h-[var(--navbar-height)] items-stretch justify-center border-b border-zinc-100/10 bg-zinc-950/85 backdrop-blur"
>
    <div class="max-w-header mr-6 ml-3 flex w-full items-center justify-between">
        <div class="flex items-center gap-2">
            <a class="flex items-center no-underline" href="/">
                <Image class="mx-2 mr-4 h-10 w-auto" alt="BreweryX Logo" src={breweryxLogo} />
                <span class="text-2xl font-bold text-white">BreweryX</span>
            </a>
        </div>
        <div class="flex items-center gap-2">
            {
                links.map((link, index) => (
                    <>
                        <a class="font-semibold text-white no-underline" href={link.href}>
                            <span>{link.label}</span>
                        </a>
                        {index < links.length - 1 && <span class="mx-2 h-6 w-[0.5px] bg-white" />}
                    </>
                ))
            }
        </div>
    </div>
</div>
