---
import { Image } from "astro:assets";

import breweryxLogo from "@/assets/img/breweryx.png";

const links = {
    left: [
        {
            label: "Documentation",
            href: "/docs/welcome",
        },
    ],
    right: [],
};
---

<div
    class="fixed left-0 top-0 right-0 h-[var(--navbar-height)] flex items-stretch bg-zinc-900 border-b border-b-zinc-800"
>
    <div class="flex justify-between items-center p-2">
        <div class="flex items-center gap-2">
            <Image class="h-10 w-auto mx-2 mr-4" alt="BreweryX Logo" src={breweryxLogo} />
            {links.left.map((link) => <a class="header-link" href={link.href}>{link.label}</a>)}
        </div>
    </div>
</div>

<style>
    .header-link {
        @apply text-white no-underline;
    }
</style>
