---
import { Image } from "astro:assets";

import breweryxLogo from "@/assets/img/favicon.png";

const links = {
    left: [
        {
            label: "Documentation",
            href: "/docs/welcome",
        },
    ],
    right: [],
};
---

<div
    class="fixed left-0 top-0 right-0 h-[var(--navbar-height)] z-40 flex items-stretch bg-zinc-950/80 backdrop-blur-md border-b border-b-zinc-900"
>
    <div class="w-full flex justify-between items-center ml-3 mr-6">
        <div class="flex items-center gap-2">
            <a class="flex items-center no-underline" href="/">
                <Image class="h-12 w-auto mx-2 mr-4" alt="BreweryX Logo" src={breweryxLogo} />
                <span class="text-white text-2xl font-bold">BreweryX</span>
            </a>
        </div>
        <div class="flex gap-2">
            {
                links.left.map((link) => (
                    <a class="header-link" href={link.href}>
                        {link.label}
                    </a>
                ))
            }
        </div>
    </div>
</div>

<style>
    .header-link {
        @apply text-white no-underline;
    }
</style>
