---
import "@/styles/tailwind.css";
import { twMerge } from "tailwind-merge";
import StarlightPage from "@astrojs/starlight/components/SimpleStarlightPage.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
    disableNavBarOffset?: boolean;
}

const { disableNavBarOffset } = Astro.props;
---

<StarlightPage frontmatter={{ title: "BreweryX Documentation" }}>
    <Header />
    <div class={twMerge("overflow-y-hidden", !disableNavBarOffset && "mt-[var(--navbar-height)]")}>
        <slot />
    </div>
    <Footer />
</StarlightPage>
